
.page-wrap {
  /*max-width: 1150px;*/
  width: 100%;
  font-family: 'PT Serif', serif;
}

.about {
  font-size: 4em;
  text-align: center;
}
.carousel {
  width: 83%;
  margin: 0 auto;
  color: #fff;
}

.item {
  height: 400px;
  position: relative;
  width: 100%;
  padding: 20px 0 0 40px;
  overflow: hidden;
}
h1 {
  font-size: 1.75em;
  padding: 0 15px;
}
.number {
  position: absolute;
  bottom: 0;
  font-size: 2.5em;
  margin-top: 10px;
  margin-left: 30px;
}
.info {
  margin-top: 25%;
  font-size: 1.15em;
  margin-left: -100%;
  transition: transform .4s
  cubic-bezier(.33,.005,.125,1.005) 180ms;
}
.item:hover .info {
  transform: translateX(45%);
}

ul li {
  list-style-type: none;
}

.item .number {
  transition: transform .4s cubic-bezier(.33,.005,.125,1.005) 180ms;
}
.item:hover .number {
  transform: translateY(-120%);
  transition: transform .4s cubic-bezier(.33,.005,.125,1.005) 180ms;
}

.item .number2::before {
  content: '';
    height: 2px;
    width:100%;
    background-color: #FFF;
    left: 300px;
    position: absolute;
    opacity: 0;
}

.item .number1::before {
  content: '';
    height: 2px;
    width:100%;
    background-color: #FFF;
    left: 150px;
    position: absolute;
    opacity: 0;
}


.item .number3::before {
  content: '';
    height: 2px;
    width:100%;
    background-color: #FFF;
    left: 450px;
    position: absolute;
    opacity: 0;
}

.item .numberBig::before {
  content: '';
    height: 2px;
    width:100%;
    background-color: #FFF;
    left: 975px;
    position: absolute;
    opacity: 0;
}

.item:hover .number::before{
  opacity:1;
  top: 70px;
  transform: translateX(-700%);
  transition: transform .4s cubic-bezier(.33,.005,.125,1.005) 180ms,width .4s cubic-bezier(.33,.005,.125,1.005) .3s,opacity .2s cubic-bezier(.33,.005,.125,1.005) 180ms;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity .4s cubic-bezier(.33,.005,.125,1.005);
  -moz-transition: opacity .4s;
  -webkit-transition: opacity .4s;
}

.item h1, .item p {
  position: absolute;
  z-index: 2;
}

.item:nth-child(1){
  background-color: #1F1E24;
  position:relative;
  overflow: hidden;
}
.item:nth-child(1){
  background-image: url("images/item1-values.png");
  background-color: #1F1E24;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.item:nth-child(2){
  background-image: url("images/item2-projects.png");
  background-color: #F56762;
  background-position: 90% 90%;
  background-repeat: no-repeat;
}

.item:nth-child(2) .layer:hover{
  background-color: #fff;
  opacity: 0.2;
}

.item:nth-child(3){
  background-image: url("images/item3-community.png");
  background-color: #72BDBF;
  background-position: 90% 90%;
  background-repeat: no-repeat;
}
.item:nth-child(4){
  background-image: url("images/item4-gantt.png");
  background-color: #F19FA0;
  background-position: 90% 90%;
  background-repeat: no-repeat;
}
.item:nth-child(5){
  /*background-image: url("images/item5-pie.png");*/
  background-color: #CC5335;
  background-position: 90% 90%;
  background-repeat: no-repeat;
  background-size: auto;
}

.item:nth-child(5) img {
  margin-top: 85%;
  margin-left: 70%;
  height: 60px;
  width: auto;
  transition: transform .4s cubic-bezier(.33,.005,.125,1.005) 180ms;
}

.item:nth-child(5):hover img {
  transform: translate(-210%,-220%) scale(2.2) rotateZ(180deg);
}

.item:nth-child(6){
  background-color: #47689B;
}

.item:nth-child(6) ul {
  margin-top: 130px;
}

.item:nth-child(6) ul li {
  display: inline-block;
  text-align: center;
}

.item:nth-child(6) .info .fa {
  color: #fff;
  padding: 0 5px;
}

.item:nth-child(6) .info .fa:hover {
  color: #ff0051;
}

.item:nth-child(7){
  background-image: url("images/item7-launched.png");
  background-color: #A53C6C;
  background-position: 90% 90%;
  background-repeat: no-repeat;
}
.item:nth-child(8){
  background-image: url("images/meeting2.png");
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.item:nth-child(8) .layer {
  background-color: #F2A0A2;
  opacity: 0.7;
}


.item:nth-child(9){
background-image: url("images/item9-awards-white.png");
background-color: #37BF45;
background-position: 90% 90%;
background-repeat: no-repeat;
}
.item:nth-child(10){
  background-color: #A53C6C;
}
.item:nth-child(11){
    background-image: url("images/item11-drinks.png");
  background-color: #F56762;
  background-position: 90% 90%;
  background-repeat: no-repeat;
}

.item:nth-child(11) ul {
  margin-top: 60px;
}

.item:nth-child(11) ul li {
  font-family: 'Kalam', cursive;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  font-size: 1.25em;
}

.item:nth-child(11) ul li:nth-child(even) {
  float:right;
  margin-right: 440px;
}

.item:nth-child(12){
  background-image: url("images/slide12.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.item:nth-child(12) .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity .4s cubic-bezier(.33,.005,.125,1.005);
  -moz-transition: opacity .4s;
  -webkit-transition: opacity .4s;
}

.item:nth-child(12) .layer:hover{
  background-color: #47689b;
  opacity: 0.7;
}

.item:nth-child(13){
  background-image: url("images/articles-written.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.item:nth-child(13) ul {
  position:absolute;
  z-index: 2;
}

.item:nth-child(13):hover  ul{
    transform: translateX(120%);
}


.item:nth-child(13) ul li {
  text-transform: uppercase;
  font-size: 1.875em;
  font-family: 'Kalam', cursive;
}

.item:nth-child(13) a {
  text-decoration: none;
  color: #fff;
}

.item:nth-child(13) a:hover {
  text-decoration: none;
  color: #ff0051;
}

.item:nth-child(13) .layer{
  background-color: rgb(183,104,128);
  opacity: 0.4;
  pointer-events: none;
}

/*.item:nth-child(13) .layer:hover{
  background-color: #E7D3DC;
  opacity: 0.5;
  pointer-events: none;
}*/

/*.slick-prev,
.slick-next {
    font-size: 0;
    position: absolute;
    bottom: 20px;
    color: #393939;
    border: 0;
    background: none;
    z-index: 1;
}*/
.slick-arrow {
  color: #000000;
  transition: all .2s ease-in-out;
}
.slick-arrow:hover {
  color: #ff0051;
  transform: scale(2) rotateZ(360deg);
}

.fa-angle-left {
  position: absolute;
  margin-top: 36.5%;
  margin-left: 35%;
}

.fa-angle-right {
  position: absolute;
  margin-top: 1%;
  margin-left: 62%;
}
/*}
.slick-prev {
    margin: 21% auto 0 40%;
}*/

/*.slick-prev:after {
  content: "\f177";
  font: 40px/1 'FontAwesome';
  color: #393939;
}*/

/*.slick-next {
    margin: 21% 45% 0 0;
}*/

/*.slick-next:after {
	   content: "\f178";
     font: 40px/1 'FontAwesome';
     color: #393939;
}*/

/*.slick-prev:hover:after,
.slick-next:hover:after {
    color: #ff0051;
}*/


button {
color: #393939;
}

button:focus {
    outline: 0;
}

@media screen and (max-width: 1024px){
  h1 {
    font-size: 1.5em;
    /*margin-right: 10px;*/
  }
}

@media screen and (max-width: 780px){
  .about {
    font-size: 3em;
  }
}

@media screen and (max-width: 480px){
  .about {
    font-size: 2.5em;
  }
}
